<section class="section enquiry-form-section" id="enquiry-form">
    <div class="container">
        <form class="enquiry-form">
            <div class="form-row">
                <div class="form-field">
                    <label class="form-label" for="name">Name:</label>
                    <input class="form-input" type="text" id="name" name="name" required>
                </div>

                <div class="form-field">
                    <label class="form-label" for="email">Email:</label>
                    <input class="form-input" type="email" id="email" name="email" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    <label class="form-label" for="pickup-location">Pickup Location:</label>
                    <input class="form-input" type="text" id="pickup-location" name="pickup-location" required>
                </div>

                <div class="form-field">
                    <label class="form-label" for="dropoff-location">Dropoff Location:</label>
                    <input class="form-input" type="text" id="dropoff-location" name="dropoff-location" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    <label class="form-label" for="pickup-date">Pickup Date:</label>
                    <input class="form-input" type="date" id="pickup-date" name="pickup-date" required>
                </div>

                <div class="form-field">
                    <label class="form-label" for="dropoff-date">Dropoff Date:</label>
                    <input class="form-input" type="date" id="dropoff-date" name="dropoff-date" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    <label class="form-label" for="comments">Any Comments:</label>
                    <textarea class="form-textarea" id="comments" name="comments"></textarea>
                </div>
            </div>

            <button type="submit" class="btn">Submit Enquiry</button>
        </form>
    </div>
</section>