<section class="section hero" id="home">
    <div class="container" style="margin-left: 0px;">

        <div class="hero-content">
            <h2 class="h1 hero-title">The easy way to takeover a lease</h2>

            <p class="hero-text">
                Exploring India Should never be a problem!
            </p>
        </div>

        <div class="hero-banner"></div>
    </div>
</section>
