<section class="section login">
    <div class="container">
        <h2 class="h2 section-title">Login to our Community</h2>
        <div class="login-content">
            <form class="login-form">
                <label for="email">Email:</label>
                <input type="email" id="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" required>
                <button type="submit" class="btn">Login</button>
            </form>
            <p>Don't have an account? <a asp-controller="Signup" asp-action="Signup">Sign up</a></p>
        </div>
    </div>
</section>