<section class="section book-ride">
    <div class="container">
        <h2 class="h2 section-title">Book a Ride</h2>
        <form class="book-ride-form">
            <div class="input-wrapper">
                <label for="car-model" class="input-label">Car Model</label>
                <select name="car-model" id="car-model" class="input-field">
                    <option value="">Select a car model</option>
                    <option value="Toyota RAV4 2021">Toyota RAV4 2021</option>
                </select>
            </div>
            <div class="input-wrapper">
                <label for="start-date" class="input-label">Start Date</label>
                <input type="date" name="start-date" id="start-date" class="input-field">
            </div>
            <div class="input-wrapper">
                <label for="end-date" class="input-label">End Date</label>
                <input type="date" name="end-date" id="end-date" class="input-field">
            </div>
            <div class="input-wrapper">
                <label for="total-price" class="input-label">Total Price</label>
                <input type="text" name="total-price" id="total-price" class="input-field" readonly>
            </div>
            <button type="submit" class="btn book-ride-btn">Book a Ride</button>
        </form>
    </div>
</section>

<section class="section car-card-section">
    <div class="container">
        <ul class="car-card-list">
            <li>
                <div class="new-car-card">
                    <figure class="card-banner">
                        <img src="/images/car-1.jpg" alt="Toyota RAV4 2021" loading="lazy" width="440" height="300"
                             class="w-100">
                    </figure>
                    <div class="card-content">
                        <div class="card-title-wrapper">
                            <h3 class="h3 card-title">
                                <a href="#">Toyota RAV4</a>
                            </h3>
                            <data class="year" value="2021">2021</data>
                        </div>
                        <ul class="card-list">
                            <li class="card-list-item">
                                <ion-icon name="people-outline"></ion-icon>
                                <span class="card-item-text">4 People</span>
                            </li>
                            <li class="card-list-item">
                                <ion-icon name="flash-outline"></ion-icon>
                                <span class="card-item-text">Hybrid</span>
                            </li>
                            <li class="card-list-item">
                                <ion-icon name="speedometer-outline"></ion-icon>
                                <span class="card-item-text">6.1km / 1-litre</span>
                            </li>
                            <li class="card-list-item">
                                <ion-icon name="hardware-chip-outline"></ion-icon>
                                <span class="card-item-text">Automatic</span>
                            </li>
                        </ul>
                        <div class="card-price-wrapper">
                            <p class="card-price">
                                <strong>$440</strong> / month
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
